@import "variables";

@media screen and (min-width: 900px) {
	body {
		padding: 4rem;
	}

	nav {
		flex: 0 0 auto;
		width: $content-width / 2;
	}

	main {
		flex: 0 0 auto;
		// max-width: $content-width;

		&.index {
			section {
				flex: 0 0 auto;
				width: $content-width / 2;

				padding-right: 1rem;
			}
		}
	}
}
