/* static fonts "InterDisplay" */
@font-face {
	font-family: "InterDisplay";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("/fonts/Inter-DisplayMedium-subset.woff2?v=3.19") format("woff2");
}
