@use "sass:color";

@font-face {
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/Charter-Regular-subset.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: url("fonts/Charter-Italic-subset.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url("fonts/Charter-Bold-subset.woff2") format("woff2");
}

@font-face {
	font-family: Charter;
	font-style: italic;
	font-weight: bold;
	font-display: swap;
	src: url("fonts/Charter-BoldItalic-subset.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka Kytta";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/IosevkaKytta-Regular-subset.woff2") format("woff2");
}

@font-face {
	font-family: "Iosevka Kytta";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/IosevkaKytta-Italic-subset.woff2") format("woff2");
}

$font-family-text: Charter, "Charis SIL", "Source Serif 4", serif;
$font-family-headings: "Source Serif 4", $font-family-text;
$font-family-mono: "Iosevka Kytta", "Iosevka", monospace;

// Width of the main block
// Should fit about 2-3 lowercase English alphabets
$content-width: 40rem;
$body-width: (69em / 1.69); // nice

$list-padding: 2.5em;

$color: #c23;
// Link colors
$color-link: color.adjust($color, $hue: -140);
$color-link-dark: color.adjust($color, $hue: 69);

$color-hover: color.adjust($color-link, $hue: 140);
$color-hover-dark: color.adjust($color-link-dark, $hue: -42);
