@use "sass:color";

$font-family-text: "Helvetica Neue", Helvetica, "FreeSans", "Nimbus Sans L",
	system-ui, sans-serif;
$font-family-headings: "InterDisplay", "Inter", $font-family-text;
$font-family-mono: ui-monospace, SFMono-Regular, Monaco, monospace;

// Width of the main block
// Should fit about 2-3 lowercase English alphabets
$content-width: 40rem;
$body-width: (69em / 1.69); // nice

$list-padding: 2.5em;

$color: #c23;
// Link colors
$color-link: color.adjust($color, $hue: -140);
$color-link-dark: color.adjust($color, $hue: 69);

$color-hover: color.adjust($color-link, $hue: 140);
$color-hover-dark: color.adjust($color-link-dark, $hue: -42);
