$font-family-text: "Helvetica Neue", Helvetica, "FreeSans", "Nimbus Sans L",
	"Inter", system-ui, sans-serif;
$font-family-headings: "InterDisplay", "Inter", $font-family-text;
$font-family-mono: ui-monospace, SFMono-Regular, Monaco, monospace;

// Width of the main block
// Should fit about 2-3 lowercase English alphabets
$content-width: 40rem;
