@import "inter";
@import "variables";

//
// Universal
//
*,
*::before,
*::after {
	box-sizing: border-box;
}

//
// Root
//
:root {
	color-scheme: light dark;

	font: 16px/1.5 $font-family-text;
	letter-spacing: -0.16px;

	tab-size: 4;
}

html {
}

body {
	display: flex;

	flex-flow: row wrap;
	align-items: start;

	margin: 0;
	padding: 1rem;
}

//
// Content sectioning
//

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;

	&:hover,
	&:focus {
		> .zola-anchor {
			opacity: 0.5;
		}
	}
}

h1,
h2 {
	font-family: $font-family-headings;
	font-weight: 500;
	line-height: 1.25;
}

h1 {
	font-size: 2rem;

	& + .date {
		margin-bottom: 1rem;
	}
}
h2 {
	font-size: 1.5rem;
	letter-spacing: 0.24px;
}

h3,
h4,
h5,
h6 {
	font-weight: 600;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

nav {
	width: 100%;
	max-width: 100%;

	flex-shrink: 0;

	font-family: $font-family-headings;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 2.5rem;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		&.title {
			font-weight: 600;

			svg {
				margin: -(32px / 8);
				fill: currentColor;
			}
		}
	}

	a {
		text-decoration: none;
		color: currentColor;
		opacity: 0.6;

		&.active,
		&:hover,
		&:active {
			opacity: 1 !important;
			&.to-main {
				color: #c23;
			}
		}
	}
}

#lift-go-up {
	display: none;
}

main {
	width: 100%;
	max-width: 100%;
	padding-top: 2.5rem;

	flex-shrink: 0;

	> * {
		max-width: $content-width;
	}
}

article {
}

section {
}

#comments {
	margin-top: 4rem;

	> h2 {
		margin-bottom: 1rem;
	}

	article {
		border-bottom: 0.5px solid currentColor;
		// border-radius: 1rem;
		padding: 1rem 0;

		.comment-header {
			margin-bottom: 1rem;

			.user {
				display: flex;
				flex-flow: row nowrap;
				align-items: start;
				justify-content: start;

				text-decoration: none;
				color: inherit;

				&:hover {
					text-decoration: underline solid currentColor 1px;
				}

				gap: 1rem;

				line-height: 1.25;

				small {
					font-weight: 400;
				}

				> img {
					width: 3rem;
					height: 3rem;
					margin: 0;
				}
			}
		}

		.comment-body {
			p:last-of-type {
				margin-bottom: 0;
			}

			.time {
				margin-top: 1rem;
				display: block;
				opacity: 0.7;
				text-decoration: none;
				color: inherit;
				font-size: smaller;

				&:hover {
					text-decoration: underline solid currentColor 1px;
				}
			}
		}
	}

	img {
		display: inline;

		&.avatar {
			border-radius: 5px;
		}
	}
}

aside {
}

footer {
}

address {
}

//
// Text block content
//

/* Overall styling, e.g. vertical spacing */
p,
ol,
ul,
pre,
blockquote,
figure,
hr,
dl {
}

p {
	margin: 0 0 1rem;
}

ol,
ul {
	ol,
	ul {
	}
}
ol {
}
ul {
}
li {
	li {
	}
}

pre {
	width: fit-content;
	min-width: $content-width;
	max-width: 100%;
	padding: 10px 15px;

	border-radius: 5px;

	&.z-code {
		background-color: rgba(128, 128, 128, 0.05);
	}

	code {
	}
	samp {
	}
}

blockquote {
	border-left: 4px solid currentColor;
	margin: 1.5em 0em;
	padding: 0 1em;
	font-style: italic;
}

figure {
	margin: 0;

	blockquote {
		margin-bottom: 0;
	}
}

figcaption {
	font-size: 0.9rem;
	color: var(--text-light);
	margin-bottom: 1rem;
}

hr {
	border: none;
	margin: 1.5rem 0;
	height: 2px;
	color: inherit;
	background-color: currentColor;
}

dl {
}
dt {
}
dd {
}

//
// Inline text semantics
//

a {
	&.view-all {
		opacity: 0.7;
		text-decoration-line: none;
		color: inherit;

		&:hover {
			text-decoration-line: underline;
			opacity: 1;
		}
	}

	&:visited {
	}
	&:hover {
	}
	&:active {
	}
}

strong,
b {
	font-weight: 600;
}

strong {
}
b {
}

em {
}
i {
}

q {
}
cite {
}

s {
}

mark {
}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {
}
sub {
}
sup {
}

code {
}

dfn {
}
abbr {
	&[title] {
	}
}

var {
}
kbd {
	kbd {
	}
}
samp {
}

u {
}

data {
}
time {
}

//
// Demarcating edits
//

del {
}
ins {
}

//
// Embedded content
//

img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
svg {
}
video {
}
canvas {
}
audio {
}
object {
}

noscript {
}

//
//Table content
//

table {
}
caption {
}
col:first-child {
}
thead {
}
tbody {
}
tfoot {
}
tr {
}
th {
}
td {
}

//
// Forms
//

fieldset {
	&:disabled {
	}
}
legend {
}

form {
}

label {
}

::placeholder {
}
:focus::placeholder {
}

/* Overall styling, e.g. vertical spacing */
input,
textarea,
select,
button {
}

/* `textarea` and `input` elements that share a similar look and similar styling
capabilities */
/* - common styling */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"] {
}
/* - individual styling */
textarea {
}
input[type="text"] {
}
input[type="password"] {
}
input[type="email"] {
}
input[type="tel"] {
}
input[type="number"] {
}
input[type="search"] {
}
input[type="url"] {
}
input[type="date"] {
}
input[type="datetime-local"] {
}
input[type="month"] {
}
input[type="week"] {
}
input[type="time"] {
}
/* Tick boxes */
input[type="checkbox"],
input[type="radio"] {
	&:checked {
	}
}
input[type="checkbox"] {
	&:checked {
	}
}
input[type="radio"] {
	&:checked {
	}
}
/* Other input fields, some with limited styling capabilities */
input[type="file"] {
}
input[type="color"] {
}
input[type="range"] {
}

select {
}
optgroup {
}
option {
	&:checked {
	}
}
datalist {
}

button,
input[type="submit"] {
	&:disabled {
	}
}
button.secondary {
	&:disabled {
	}
}

/* This matches forms or form elements that are invalid *and* have been
interacted with. Note that:
1) You may need to add the `interacted` class to forms yourself
2) You may need to add the `touched` class to form fields yourself
3) `:user-invalid` is a working draft and not yet supported by most browsers
4) `:-moz-ui-invalid` is non-standard and only works in Firefox
Form validation error messages will appear (in capable browsers) regardless of
this styling. You can omit 1) and 2) and still have working forms. Perfect
example of progressive enhancement. */
/* Applies to invalid forms */
form.interacted:invalid {
}
/* Applies to invalid form fields. You would need to repeat your declarations
for the following three groups of selectors individually. Browsers completely
ignore any rule that contains a selector they do not know. */
form.interacted :invalid,
form .touched:invalid {
}
:user-invalid {
}
:-moz-ui-invalid {
}

output {
}

progress {
}
meter {
}

//
// Interactive elements
//

details {
	&[open] {
		summary {
		}
	}
}
summary {
}

dialog {
	::backdrop {
	}
}

/* Some form fields, `details`, elements with `tabindex`, and possibly other
elements can be focussed. You should use `:focus-visible` instead of `:focus`
whenever possible. As the former is not yet widely supported, you need to do it
as follows:
1) Set styling on focus
2) If browser supports `:focus-visible`, revert/unset the styling from 1)
3) If the element matches `:focus-visible`, apply the styling again */
:focus {
}
:focus:not(:focus-visible) {
}
:focus-visible {
}

[inert],
[inert] * {
}

//
// Media queries
//

@media (prefers-reduced-motion: reduce) {
}

@media (prefers-color-scheme: dark) {
}

@media (orientation: portrait) {
}

@media (orientation: landscape) {
}

@media print {
}

// Custom components

.zola-anchor {
	opacity: 0;
	text-decoration: none;
	font-size: 0.75em;
	margin-left: 0.5em;

	&:target,
	&:hover,
	&:focus {
		opacity: 1 !important;
	}
}
