@import "variables";

body {
	padding: 0;
}

main {
	width: 100%;

	section {
		width: 100%;
		max-width: unset;
		text-align: justify;

		padding: 0 2em;

		font-size: 3em;
		line-height: 1.2;
		font-weight: 300;

		&:nth-child(1) {
			height: 100vh;
			display: grid;
			place-items: center;
			width: 100vw;
		}
	}
}

@media screen and (min-width: 992px) {
	// main {
	// 	> * {
	// 		flex: 0 0 auto;
	// 		width: 50%;

	// 		padding-right: 1rem;
	// 	}
	// }
}
