@import "variables";

body {
	background-color: #ede9e9;
}

header {
	padding: 0.5rem 0;

	background-image: linear-gradient(to bottom, #c32432 0%, #b3001e 100%);
	background-image: linear-gradient(
		to bottom in oklab,
		oklch(53.13% 0.193 22.94) 0%,
		oklch(47.69% 0.202 22.94) 100%
	);

	border-bottom: 2px solid;
	border-bottom-color: #8e001a;
	border-bottom-color: oklch(40.75% 0.184 22.94);

	nav {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: flex-start;

		max-width: 100%;
		margin: 0 auto;
		padding: 0 0.5rem;
		gap: 0.75rem;

		input {
			flex-basis: 40em;
			flex-shrink: 1;

			padding: 0.33rem 0.5rem;

			border: none;
			border-top: 1px solid;
			border-top-color: #8e001a;
			border-top-color: oklch(40.75% 0.184 22.94);
			border-radius: 0.25rem;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25) inset;
		}
	}
}

a#home {
	line-height: 0;
}

input {
	font-family: inherit;
	font-size: 1em;
}

@media screen and (min-width: 400px) {
	header nav input {
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" viewBox="0 0 32 32"%3E%3Cpath fill="%2363504f" d="m29.772 26.433l-7.126-7.126a10.43 10.43 0 0 0 1.524-5.42c0-5.794-4.692-10.486-10.482-10.488c-5.79 0-10.484 4.693-10.484 10.485c0 5.79 4.693 10.48 10.484 10.48c1.987 0 3.84-.562 5.422-1.522l7.128 7.127l3.534-3.537zM7.202 13.885a6.496 6.496 0 0 1 6.485-6.486a6.493 6.493 0 0 1 6.484 6.485a6.494 6.494 0 0 1-6.483 6.484a6.496 6.496 0 0 1-6.484-6.485z"%2F%3E%3C%2Fsvg%3E');
		background-repeat: no-repeat;
		background-position: right 0.5rem top 50%;
	}
}

@media screen and (min-width: 600px) {
	header nav {
		padding: 0 2rem;
	}
}
