@import "variables";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font: 100%/1.5 $font-family-text;
	text-size-adjust: none;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

nav {
	ul {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		gap: 0.5em;

		margin: 0;
		padding: 0;

		li {
			display: inline-block;

			&:nth-child(1) {
				margin-inline-end: auto;
			}

			> a:not([rel="home"]) {
				&:link,
				&:visited {
					padding: 0.25em 0.75em;
					border-radius: 1em;

					color: currentColor;
					text-decoration: underline solid #00000080;

					&.active {
						background-color: #c231;
						text-decoration-color: $kytta-red;
						text-decoration-style: wavy;
						// border-bottom: 2px solid $kytta-red;
						// border-bottom-style: groove;
					}
				}
			}

			> a[rel="home"] {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
				justify-content: center;

				width: 56px;
				height: 56px;

				background-color: $kytta-red;
			}
		}
	}
}
