@import "inter";
@import "variables";

$nav-item-spacing: 1.5rem;

//
// Universal
//
*,
*::before,
*::after {
	box-sizing: border-box;
}

//
// Root
//
:root {
	color-scheme: light dark;

	letter-spacing: -0.16px;

	tab-size: 4;
}

html {
	font: 100%/1.5 $font-family-text;
	text-size-adjust: none;
}

body {
	max-width: 40em;
	margin: auto;
	padding: 0 14px;
}

//
// Content sectioning
//

header {
	margin: 1rem 0 3rem;
	padding: 0.5rem 0;
}

nav {
	ul {
		list-style: none;

		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		font-weight: bolder;
	}

	li + li {
		padding-left: $nav-item-spacing;
	}

	li.here + li,
	li + li.here {
		padding-left: ($nav-item-spacing / 2);
	}

	li:first-child.here {
		margin-left: -($nav-item-spacing / 2);
	}

	.here span {
		color: #fff;
		background-color: #c23;
		padding: ($nav-item-spacing / 4) ($nav-item-spacing / 2);
		border-radius: 4px;
	}
}

.blog-year {
	display: flex;
	align-items: baseline;

	h2 {
		font-size: 1rem;
		font-weight: normal;
	}

	ul {
		flex-grow: 1;
	}

	li {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.25rem;
	}
}

//
// Text block content
//

.text {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul,
	pre,
	blockquote,
	figure,
	hr,
	dl {
		margin: 0;
	}

	> * + * {
		margin-block-start: 1em !important;
	}
}

//
// Inline text semantics
//

a {
	text-decoration: none;
	color: rgb(53, 89, 163);
	border-bottom: 1px solid rgba(53, 89, 163, 0.5);

	&:hover {
		color: rgb(144, 69, 0);
		border-bottom-color: rgba(144, 69, 0, 0.5);
	}

	&:active {
	}
}
