$font-family-text: "Helvetica Neue", Helvetica, "FreeSans", "Nimbus Sans L",
	"Inter", system-ui, sans-serif;

// Width of the main block
// Should fit about 2-3 lowercase English alphabets
$content-width: 40rem;

$body-padding: 14px;
$nav-item-spacing: 1.5rem;

//
// Universal
//
*,
*::before,
*::after {
	box-sizing: border-box;
}

//
// Root
//
:root {
	color-scheme: light dark;

	letter-spacing: -0.16px;

	tab-size: 4;
}

html {
	font: 100%/1.5 $font-family-text;
	text-size-adjust: none;
}

body {
	// max-width: 40em;
	// margin: auto;
	margin: 0;
	padding: 0 $body-padding;
}

//
// Content sectioning
//

h1, h2, h3, h4, h5 ,h6 {
	line-height: 1.1;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

header {
	max-width: $content-width;
	margin: 1rem auto 3rem;
	padding: 0.5rem 0;
}

main {
	> * {
		max-width: $content-width;
		margin-inline: auto;
	}

	> h1 {
		max-width: none;
	}

	> h1,
	> h2,
	> h3,
	> h4,
	> h5,
	> h6 {
		margin-inline-start: calc((100vw - $content-width) / 2 - $body-padding);
	}
}

#comments {
	h2 {
		margin-top: 1em;
	}
}

nav {
	ul {
		list-style: none;

		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		font-weight: bolder;
	}

	li + li {
		padding-left: $nav-item-spacing;
	}

	li.here + li,
	li + li.here {
		padding-left: ($nav-item-spacing / 2);
	}

	li:first-child.here {
		margin-left: -($nav-item-spacing / 2);
	}

	.here span {
		color: #fff;
		background-color: #c23;
		padding: ($nav-item-spacing / 4) ($nav-item-spacing / 2);
		border-radius: 4px;
	}
}

.blog-year {
	display: flex;
	align-items: baseline;

	h2 {
		font-size: 1rem;
		font-weight: normal;
	}

	ul {
		flex-grow: 1;
	}

	li {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.25rem;
	}
}

//
// Text block content
//

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre,
blockquote,
figure,
hr,
dl {
	margin-block: 0;
}

main > * + * {
	margin-block-start: 1em !important;
}

//
// Inline text semantics
//

a {
	text-decoration: none;
	color: rgb(53, 89, 163);
	border-bottom: 1px solid rgba(53, 89, 163, 0.5);

	&:hover {
		color: rgb(144, 69, 0);
		border-bottom-color: rgba(144, 69, 0, 0.5);
	}

	&:active {
	}
}

h2,
h3,
h4,
h5,
h6 {
	display: inline-block;
}

.zola-anchor {
	display: inline-block;
	margin-inline-start: 1rem;

	a {
		// position: relative;
		// left: calc(-100% - 0.5rem);
		// float: right;

		color: currentColor;
		border: none;
		opacity: 0.42;

		&:hover {
			color: currentColor;
			opacity: 1;
		}
	}
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;

	&:not(caption) {
		position: absolute !important;
	}
}

@media (max-width: calc($content-width + 2 * $body-padding)) {
	main > h1 {
		margin-inline-start: 0;
	}
}
