$clr-text: black;

$clr-link: #01426d;
$clr-link-hover-text: white;
$clr-vk: #45668e;
$clr-twitter: #1da1f2;
$clr-telegram: #0088cc;
$clr-github: #000;
$clr-linkedin: #0077b5;
$clr-email: #505264;

$clr-project-date: #999;

$font-sans: "Fira Sans", "PT Sans", sans-serif;
$font-mono: "Roboto Mono", "Monaco", monospace;
