body {
    font: {
        family: "Roboto Mono", "Monaco", monospace;
        size: 16px;
        weight: 400;
    }
    max-width: 540px;
    padding: 20px;
}

.section {
    margin-bottom: 60px;
    .skills {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        div {
            display: inline-block;
            vertical-align: top;
            width: auto;
        }
        .skills-title {
            margin-bottom: 5px;
            margin-right: 10px;
            strong {
                font-weight: 700;
                background-color: #fce883;
            }
        }
    }
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font: {
        size: 40px;
        weight: 500;
    }
    margin-bottom: 10px;
}

h2 {
    font: {
        size: 24px;
        weight: 400;
    }
    margin-bottom: 15px;
}

h3 {
    font: {
        size: 20px;
        weight: 400;
    }
    margin-bottom: 5px;
}

.social-buttons {
    margin-top: 25px;
    padding: 0;
    li {
        display: inline;
        font-size: 14px;
        list-style-type: none;
        margin-right: 15px;
        text-transform: uppercase;
        a {
            color: #00538a;
            text-decoration: underline solid;
        }
        .vk-link:hover {
            color: #45668e;
        }
        .tw-link:hover {
            color: #1da1f2;
        }
        .tg-link:hover {
            color: #0088cc;
        }
        .gh-link:hover {
            color: #333;
        }
        .em-link:hover {
            color: #239ab9;
        }
    }
}

@media (max-width: 374.98px) {
    .section {
        .skills {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 767.98px) {
    .social-buttons {
        li {
            display: inline-block; // margin-bottom: 15px;
        }
    }
}