body {
    font: {
        family: "Roboto Mono", "Monaco", monospace;
        size: 16px;
        weight: 400;
    }
    padding: 20px;
}

.section {
    margin-bottom: 60px;
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font: {
        weight: 500;
        size: 40px;
    }
    margin-bottom: 10px;
}

h2 {
    font: {
        weight: 400;
        size: 24px;
    }
    margin-bottom: 10px;
}

h3 {
    font: {
        weight: 400;
        size: 20px;
    }
    margin-bottom: 5px;
}

.social-buttons {
    padding: 0;
    margin-top: 25px;
    li {
        display: inline;
        list-style-type: none;
        margin-right: 15px;
        text-transform: uppercase;
        font-size: 14px;
        a {
            text-decoration: underline solid;
            color: #00538a;
        }
        .vk-link:hover {
            color: #45668e;
        }
        .tw-link:hover {
            color: #1da1f2;
        }
        .tg-link:hover {
            color: #0088cc;
        }
        .gh-link:hover {
            color: #333;
        }
        .em-link:hover {
            color: #239ab9;
        }
    }
}

@media (max-width: 767.99px) {
    .social-buttons {
        li {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
}