$clr-link: #01426d;
$clr-vk: #45668e;
$clr-twitter: #1da1f2;
$clr-telegram: #0088cc;
$clr-github: #000;
$clr-email: #239ab9;

body {
    font: {
        family: "Roboto Mono", "Monaco", monospace;
        size: 16px;
        weight: 400;
    }
    max-width: 640px;
    padding: 20px;
}

.subtitle-menu {
    a {
        text-decoration: none;
        color: initial;
        &:hover {
            color: #999;
        }
    }
}

strong {
    // background-color: #fce883;
    font-weight: 700;
}

.section {
    margin-bottom: 50px;
    table.skills {
        background: transparent;
        tr {
            text-align: left;
            width: auto;
            td {
                border-bottom: solid transparent 10px;
                border-right: solid transparent 15px;
                line-height: 1.5em;
                vertical-align: top;
                &.skills-title {
                    text-align: right;
                    white-space: nowrap;
                }
                .learning {
                    font-style: italic;
                    opacity: .3;
                }
            }
        }
    }
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font: {
        size: 40px;
        weight: 500;
    }
    margin-bottom: 10px;
}

h2 {
    font: {
        size: 24px;
        weight: 400;
    } // text-decoration: underline wavy #ED7B1C;
    margin-bottom: 15px;
}

h3 {
    font: {
        size: 20px;
        weight: 400;
    }
    margin-bottom: 5px;
}

.social-buttons {
    margin-top: 25px;
    margin-left: -10px;
    padding: 0;
    li {
        display: inline-block;
        font-size: 14px;
        list-style-type: none;
        margin-right: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1.5px;
        a {
            color: $clr-link;
            text-decoration: underline solid;
            background-position: 0% 100%;
            background-size: 0% 100%;
            background-repeat: no-repeat;
            transition-property: color background-size;
            transition-duration: .3s;
            padding: 5px 10px;
            &:hover {
                color: white;
                background-size: 100% 100%;
            }
        }
        .vk-link {
            background-image: linear-gradient($clr-vk, $clr-vk);
        }
        .tw-link {
            background-image: linear-gradient($clr-twitter, $clr-twitter);
        }
        .tg-link {
            background-image: linear-gradient($clr-telegram, $clr-telegram);
        }
        .gh-link {
            background-image: linear-gradient($clr-github, $clr-github);
        }
        .em-link {
            background-image: linear-gradient($clr-email, $clr-email);
        }
    }
}

@media (max-width: 374.98px) {
    .section {
        .skills {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 767.98px) {
    .section {
        margin-bottom: 30px;
    }
    .social-buttons {
        li {
            // display: inline-block;
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}