@import "../variables";

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 600px;
  margin: 0 auto;

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .7rem;
    width: 100%;

    &__info {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__image {
        border-radius: $dim-radius-bio $dim-radius-bio $dim-radius-bio 0;
        flex: 0 0 3.4rem;
        width: 3.4rem;
      }

      &__name {
        font-size: 1.3rem;
        padding: 0 1rem;
      }
    }

    &__flags {
      white-space: nowrap;
    }
  }

  &__bubble {
    background-color: $clr-accent;
    border-radius: 0 $dim-radius-bio $dim-radius-bio $dim-radius-bio;
    margin: 0;
    padding: 1.1rem;

    p {
      line-height: (4rem / 3);
      margin: 0 0 .8rem;

      &:last-child {
        margin: 0;
      }
    }
  }
}
