.container {
    max-width: 800px;
    padding: $padding-container;
    margin: 0 auto;
}

@media (max-width: $media-tablets) {
    .container {
        padding: (nth($list: $padding-container, $n: 1) / 2)
                  nth($list: $padding-container, $n: 2);
    }
}
