@import "../variables";

.flag {
	background: none;
	border: none;
	padding: 0;
	margin: 0 .2rem;
	transition: opacity 200ms ease;
	line-height: 0;
	font-size: 0;

	img {
		width: 20px;
		height: 20px;
		border-radius: 50%;
	}

	&:hover {
		opacity: (2/3)
	}

	&--active {
		border: #111 solid .2em;
	}
}
