@import "../variables";

.section-list {
    &__item {
        list-style: none;
        border-bottom: 1px solid $clr-white;
        &:last-child {
            border: none;
        }

        &__link {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            padding: $dim-padding-section-list-item-link $dim-padding-section-list-item-link*2;
            position: relative;

            color: $clr-text;
            text-decoration: none;

            transition: background-color 200ms ease;

            &:hover {
                background-color: $clr-white;
            }

            &__info {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                flex-basis: 300px;
                flex-grow: 1;
                flex-shrink: 0;
                align-items: center;

                &__title {
                    margin: $dim-padding-section-list-item-link/2 15px $dim-padding-section-list-item-link/2 0;
                }

                &__description {
                    margin: 0;
                }
            }

            &__year {
                flex-shrink: 0;
                padding: $dim-padding-section-list-item-link 0;
            }
        }
    }
}
