@import "reset";
@import "grid";

$color-white: #f1f2f0;
$color-black: #151515;
$color-accent-lite: #f45844;
$color-accent-dark: #c72921;

@mixin when-dark {
  @media (prefers-color-scheme: dark) { @content; }
}

// Creates four accent colours needed for the link styling
@mixin make-accent-colors($accent-color, $dark: false) {
  --accent: #{$accent-color};


  $accent-color-light: mix($accent-color, $color-white, 50%);
  @if $dark {
    $accent-color-light: mix($accent-color, $color-black, 50%);
  }

  $accent-color-desaturated: grayscale($accent-color);
  $accent-color-light-desaturated: change-color($accent-color-light, $saturation: 0%);

  --accent-light: #{$accent-color-light};
  --accent-gray: #{$accent-color-desaturated};
  --accent-gray-light: #{$accent-color-light-desaturated};
}

:root {
  color-scheme: light dark;

  --foreground: #{$color-black};
  --background: #{$color-white};
  @include make-accent-colors($color-accent-dark);

  @include when-dark {
    --foreground: #{$color-white};
    --background: #{$color-black};
    @include make-accent-colors($color-accent-lite, true);
  }
}

body {
  font-size: 18px;
  line-height: 1.5;

  background-color: var(--background);
  color: var(--foreground);
}

main,
footer {
  padding: 0 0.75rem;
}

h1,
h2 {
  margin: 2rem 0 1rem;
}

ul li {
  margin-top: 0.5rem;
}

strong {
  font-weight: bolder;
}

a {
  color: var(--accent);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-light);
}

a:hover,
a:active {
  color: var(--accent-gray);
  border-bottom: 1px solid var(--accent-gray-light);
}

.monero {
  overflow-x: scroll;
}

code {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}

hr {
  color: rgba(127, 127, 127, 0.25);
}

header {
  display: grid;
  grid-template-columns: auto 1fr repeat(5, auto);
  grid-template-rows: auto;
  grid-auto-columns: auto;
  align-items: baseline;
  margin-bottom: 2rem;
}

header > * {
  color: inherit;
  border-bottom: 2px solid rgba(127, 127, 127, 0.25);
  display: inline-block;
  padding: 0 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  text-decoration: none;
}

header > a:hover,
header > a.active,
header > a:focus {
  color: inherit;
  opacity: initial;
  border-bottom: 2px solid var(--accent);
}

header > a.active {
  color: var(--accent);
}

.title.active,
header > a:active {
  background-color: var(--accent);
  color: white;
}

header .border {
  height: 100%;
  width: auto;
}
