@import "mixins";

@import "colours";
@import "typography";
@import "reset";
@import "grid";

body {
  color: var(--fg);
  background-color: var(--bg);


  font-size: 18px;
  line-height: 1.5;
}

main,
footer {
  padding: 0 0.75rem;
}

h1,
h2 {
  margin: 2rem 0 1rem;
}

ul li {
  margin-top: 0.5rem;
}

strong {
  font-weight: bolder;
}

a {
  color: var(--link);
  text-decoration: none;
  border-bottom: 1px solid var(--link);
}

a:hover,
a:active {
  color: var(--sad);
  border-bottom: 1px solid var(--sad);
}

.monero {
  overflow-x: scroll;
}

code {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}

hr {
  color: rgba(127, 127, 127, 0.25);
}

header {
  display: grid;
  grid-template-columns: auto 1fr repeat(5, auto);
  grid-template-rows: auto;
  grid-auto-columns: auto;
  align-items: baseline;
  margin-bottom: 2rem;
}

header > * {
  color: inherit;
  border-bottom: 2px solid rgba(127, 127, 127, 0.25);
  display: inline-block;
  padding: 0 0.75rem;
  line-height: 1.5;
  font-size: 1rem;
  text-decoration: none;
}

header > a:hover,
header > a.active,
header > a:focus {
  color: inherit;
  opacity: initial;
  border-bottom: 2px solid var(--accent);
}

header > a.active {
  color: var(--accent);
}

.title.active,
header > a:active {
  background-color: var(--accent);
  color: white;
}

header .border {
  height: 100%;
  width: auto;
}
