:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box
}

body {
    max-width: 66ch;
    margin: 0 auto;
    padding: 0;
    font: 18px/1.5 -apple-system, system-ui, BlinkMacSystemFont, Inter,
        "Helvetica Neue", Helvetica, "Segoe UI", FreeSans,
        "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main,
footer {
    padding: 0 .75rem;
}

h1,
h2 {
    margin: 2rem 0 1rem
}

ul li {
    margin-top: .5rem
}

strong {
    font-weight: bolder
}

a {
    color: inherit;
    -webkit-text-decoration-color: #c23;
    text-decoration-color: #c23;
    text-decoration-thickness: .1em;
    transition: opacity .2s
}

a:hover {
    opacity: .8
}

.monero {
    overflow-x: scroll
}

code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    font: .9em Menlo, Consolas, monospace
}

hr {
    color: rgba(127, 127, 127, 0.25);
}


header {
    display: grid;
    grid-template-columns: auto 1fr repeat(5,auto);
    grid-template-rows: auto;
    grid-auto-columns: auto;
    align-items: baseline;
    margin-bottom: 2rem;
}

header > * {
    border-bottom: 2px solid rgba(127, 127, 127, 0.25);
    display: inline-block;
    padding: 0 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    text-decoration: none;
}

header > a:hover,
header > a.active,
header > a:focus {
    opacity: initial;
    border-bottom: 2px solid #c23;
}

.title {
    font-weight: bold;
}

.title h1 {
    margin: 0;
    font-size: inherit;
}

header > a.active {
    color: #cc2233;
}

.title.active,
header > a:active {
    background-color: #cc2233;
    color: white;
}

header .border {
    height: 100%;
    width: auto;
}
