:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box
}

body {
    max-width: 66ch;
    margin: 0 auto;
    padding: 1rem;
    font: 18px/1.5 -apple-system, system-ui, BlinkMacSystemFont, Inter,
        "Helvetica Neue", Helvetica, "Segoe UI", FreeSans,
        "Liberation Sans", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2 {
    margin: 2rem 0 1rem
}

ul li {
    margin-top: .5rem
}

strong {
    font-weight: bolder
}

a {
    color: inherit;
    -webkit-text-decoration-color: #c23;
    text-decoration-color: #c23;
    text-decoration-thickness: .1em;
    transition: all .2s
}

a:hover {
    opacity: .8
}

.monero {
    overflow-x: scroll
}

code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
    font: .9em Menlo, Consolas, monospace
}
