<hr>
<footer class="container">
	<small>
		I do collect some information about the visitors of this site. My analytics don't collect identifying information and are GDPR-compliant. If you have an ad blocker installed, you're not tracked. The visitor data is public:
		<a href="https://kytta.goatcounter.com/">kytta.goatcounter.com</a>
	</small>
</footer>
<script data-goatcounter="https://kytta.goatcounter.com/count"
        async src="//gc.zgo.at/count.v3.js"
        crossorigin="anonymous"
        integrity="sha384-QGgNMMRFTi8ul5kHJ+vXysPe8gySvSA/Y3rpXZiRLzKPIw8CWY+a3ObKmQsyDr+a"></script>
