<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{% block title %}{{ config.title }}{% endblock title %}</title>
	<meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />
	<link rel="canonical" href="{{ current_url }}">

	<link
		rel="stylesheet"
		href="/all.css?h={{ get_hash(path="/all.css", sha_type=256) }}"
		media="all">
	<link
		rel="stylesheet"
		href="/big.css?h={{ get_hash(path="/big.css", sha_type=256) }}"
		media="screen and (min-width: 992px)">
	<link
		rel="stylesheet"
		href="/motion.css?h={{ get_hash(path="/motion.css", sha_type=256) }}"
		media="screen and not (prefers-reduced-motion)">

	{% block extra_head %}{% endblock extra_head %}

	<link rel="alternate" type="application/atom+xml" title="Blog feed" href="{{ get_url(path="/blog/atom.xml", trailing_slash=false) }}">

	<link rel="icon" href="/favicon.ico" sizes="any">
	<link rel="icon" href="/icon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="manifest" href="/manifest.webmanifest">

	<meta name=generator content="Zola">
</head>
<body>
	<nav>
		<ul>
			<li class="title">
				{% set icon_data = load_data(path="static/icon.svg") %}
				<a href="/" class="to-main {% if current_path == "/" %}active{% endif %}" aria-label="Go to the main page">{{- icon_data | safe -}}</a>
			</li>

			{% set menu_object = false %}

			{% for entry in config.extra.menu %}
				{% if entry.type == "page" %}
					{% set menu_object = get_page(path=entry.path) %}
				{% elif entry.type == "section" %}
					{% set menu_object = get_section(path=entry.path) %}
				{% endif %}

				{% if menu_object != false %}
					<li>
						<a href="{{ menu_object.path }}" class="{% if current_path is starting_with(menu_object.path) %}active{% endif %}">
							{{ entry.title | default(value=menu_object.title) }}
						</a>
					</li>
				{% endif %}
			{% endfor %}
			<li>
				<a id="lift-go-up" href="#">
					&UpArrow;&emsp14;Scroll to top
				</a>
			</li>
		</ul>
	</nav>

	<main>
		{% block content %}{% endblock content %}
	</main>
	<script src="/lift.js" async defer></script>
	<script src="//gc.zgo.at/count.v3.js"
		crossorigin="anonymous"
		integrity="sha384-QGgNMMRFTi8ul5kHJ+vXysPe8gySvSA/Y3rpXZiRLzKPIw8CWY+a3ObKmQsyDr+a"
		async
		data-goatcounter="https://kytta.goatcounter.com/count"></script>
</body>
</html>
