{% extends "section.html" %}

{% block content %}
{% for year, posts in section.pages | group_by(attribute="year") %}
	<h2>{{ year }}</h2>
	<ul>
	{% for post in posts %}
		<li>
			<a href="{{ post.permalink }}">{{ post.title }}</a>
			<br>
			<small>{{ post.date | date(format="%d %h %Y") }}</small>
		</li>
	{% endfor %}
	</ul>
{% endfor %}
{% endblock content %}
