{% extends "base.html" %}

{%- block content -%}
<section id="blog" class="times">
	<h2>Blog posts</h2>

	{%- set blog = get_section(path="blog/_index.md") -%}
	{%- set post_count = blog.pages | length -%}
	<ol reversed="reversed" start="{{post_count}}">
	{%- for post in blog.pages | slice(end=10) %}
	<li><article>
		<h3><a href="{{- post.path|safe -}}">{{- post.title -}}</a></h3>
		<time datetime="{{ post.date | date(format="%+")}}">{{ post.date | date(format="%d %h %Y")}}</time>
	</article></li>
	{%- endfor %}
	</ol>
	{%- if post_count > 10 %}
	<a class="view-all" href="{{- blog.path|safe -}}">view all posts</a>
	{%- endif %}
</section>
{% if section.content %}
<section id="introduction">
  <h2>{{ section.title }}</h2>
	{{ section.content | safe }}
</section>
{% endif %}
<section id="contact">
  <h2>Contact me</h2>
	Just email <a href="mailto:me@kytta.dev">me@kytta.dev</a> or ping <a href="https://fosstodon.org/@kytta" rel="me">me on Mastodon</a>.
	<small><a class="view-all" href="/contact">OpenPGP, Matrix, XMPP, …</a></small>
</section>

{%- endblock content -%}
