{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}
{% block description %}{{ page.summary | default(value=page.description) | default(value=config.description) | safe | striptags }}{% endblock description %}

{% block content %}
<small>
	<time datetime="{{ page.date | date(format="%+")}}">
		{{ page.date | date(format="%d %h %Y")}} at {{ page.date | date(format="%R")}}
	</time>
	{% if page.updated %}
		updated
		{{ page.updated | date(format="%d %h %Y")}} at {{ page.updated | date(format="%R")}}
	{% endif %}
</small>
<h2 style="margin-top:0">{{ page.title }}</h2>

{{ page.content | safe }}
{% endblock content %}
