$clr-background:  #fffffe;
$clr-headline:    #0d0d0d;
$clr-text:        #2a2a2a;
$clr-white:       #eff0f3;

$font-sans: "Fira Sans", "Roboto", sans-serif;
$font-mono: "Roboto Mono", "Fira Mono", monospace;

$dim-radius-bio:                  1rem;
$dim-size-social-height:          7%;
$dim-size-social-height-expanded: 100%;
$dim-size-social-width:           97%;
$dim-size-text:                   14px;

$dim-padding-section:                 1rem;
$dim-padding-section-list-item-link:  $dim-size-text/2;

$color-social: (
    "soc-tw":  #1DA1F2,
    "soc-tg": #179CDE,
    "soc-pa":  #f96854,
    "soc-gh":   #171515,
    "soc-li": #0077B5,
    "soc-em":     #669999
);
