@import "mixins";

$color-headline:           #111;
$color-text:               #222;
$color-link:               #26a;
$color-link-hover:         #39d;
$color-link-visited:       #53b;
$color-link-visited-hover: #66d;

$dim-radius-bio:                  5px;
$dim-size-social-height:          7%;
$dim-size-social-height-expanded: 100%;
$dim-size-social-width:           97%;
$font-size-body:                   16px;

$dim-padding-section:                 1rem;
$dim-padding-section-list-item-link:  $font-size-body/3;

@include for-tablet-landscape-up {
	$dim-padding-section-list-item-link:  $font-size-body/2;
}
