@charset "utf-8";

@import "normalize";

@import "variables"; // should be imported before every other component!

html, body {
	background: $clr-background;
	color: $clr-text;
	font-family: $font-sans;
	font-size: $font-size-body;
	font-weight: 400;
}

main {
	max-width: 640px;
	padding: 1rem;
	margin: 0 auto;
}

h1, h2, h3 {
	color: $clr-headline;
	font-family: $font-sans;
	font-weight: 600;
	margin: 0;
}

a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;

		&:hover {
			color: $color-link-visited-hover;
		}
	}

	&:hover {
		color: $color-link-hover;
	}
}


section {
	padding: 0 0 ($dim-padding-section*2);
}

#social {
	padding-top: 0;
}

@import "components/bio";
@import "components/flag";
@import "components/social";
@import "components/portfolio";
@import "components/footer";
